@use "../mixins/responsive.scss" as *;
.texts {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 40px;
  padding: 0 31px 0 31px;

  @include responsive(laptop) {
    text-align: left;
    margin-bottom: 72px;
    padding: 0;
  }
}
